<section class="additional-info w-full">
    <br><br><br>
    <div class="text-center mb-8">
        <h1 class="contact-heading">CONTACT US</h1>
        <p class="info">800-123-4567</p>
        <p class="info">mario@email.com</p><br>
    </div>

    <div class="text-center mb-8">
        <h1 class="contact-heading">Mailing Address</h1>
        <p class="info">123 Peachy Way</p>
        <p class="info">Toad Town, MD 12345</p>
    </div><br>

    <!--social media-->
    <div class=" flex justify-center">
        <a href="https://www.facebook.com" target="_blank">
            <img src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook">
        </a>
        <a href="https://www.youtube.com" target="_blank">
            <img src="{{ url_for('static', filename='images/youtube.png') }}" alt="YouTube">
        </a>
        <a href="https://www.linkedin.com" target="_blank">
            <img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="LinkedIn">
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <img src="{{ url_for('static', filename='images/instagram.png') }}" alt="Instagram">
        </a>
    </div><br>

    <!--footer links-->
    <p class="text-center text-sm text-gray-500">
        <a href="#" class="hover:underline">Accessibility</a> |
        <a href="#" class="hover:underline">Terms & Conditions</a> |
        <a href="#" class="hover:underline">Privacy Policy</a> |
        <a href="#" class="hover:underline">Social Media Guidelines</a> |
        <a href="#" class="hover:underline">Disclosures & Policies</a>
        <br>
        Copyright© 2024 | Online Course Registration
        <br><br><br>
    </p>
</section>
