{% extends "navbar_base.html" %} 

{% block nav %}
{% endblock %}

{%block content%}
    <div class="container px-4 mx-auto">
        <div class="relative flex justify-center">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">          
        </div>
        <div >
            <div class="relative flex  gap-8 top-5 justify-center">
                <div class="relative">
                    <a href="{{url_for('login')}}" class="text-white hover:text-black bg-black hover:bg-white  font-medium text-sm px-14 py-3 border-2 border-black shadow rounded transition duration-200">Login</a>
                </div>
                <div class="relative">
                    <a href="{{url_for('register')}}" class="text-white hover:text-black bg-black hover:bg-white font-medium text-sm px-14 py-3 border-2 border-black shadow rounded transition duration-200">Register</a>
                </div>
            </div>            
            <div class="flex gap-3 justify-center m-0">
                <h1 class="text-8xl font-sans font-semibold text-gray-500">.</h1>
                <h1 class="text-8xl font-sans font-semibold text-gray-400">.</h1>
                <h1 class="text-8xl font-sans font-semibold text-gray-300">.</h1>
                <h1 class="text-8xl font-sans font-semibold text-gray-200">.</h1>
            </div>  
        </div>
    </div>
{% endblock %}