<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the CMSC495 Online Course Registration Application</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>
<body>
    <nav class="bg-blue-300">
        <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>
    </nav>
    <div class="fixed top-60 h-80 w-1000 left-20">
        <h1 class="text-3xl font-sans font-semibold">Online Course Registration</h1><br>
        <div class="grid grid-cols-2">
            <div>
                <a href="{{url_for('login')}}" class="text-white hover:text-black bg-black hover:bg-white focus:ring-4 focus:ring-blue-300 font-medium text-sm px-14 py-3 border-2 border-black">Login</a><br><br>
            </div>
            <div>
                <a href="{{url_for('register')}}" class="text-white hover:text-black bg-black hover:bg-white focus:ring-4 focus:ring-blue-300 font-medium text-sm px-14 py-3 border-2 border-black">Register</a><br>
            </div>
            <div class="flex gap-3 justify-center">
                <h1 class="text-8xl font-sans font-semibold text-gray-500">.</h1>
                <h1 class="text-8xl font-sans font-semibold text-gray-400">.</h1>
                <h1 class="text-8xl font-sans font-semibold text-gray-300">.</h1>
                <h1 class="text-8xl font-sans font-semibold text-gray-200">.</h1>
            </div>
        </div>
    </div>
</body>
</html>
