{% extends "navbar_base.html" %} 

{% block content %}
    <div class="relative top-30 right-20">
    <main class="ml-64 p-8 text-center" style="padding-top: 30px;">
        <h2 class="text-3xl md:text-4xl font-extrabold">
            {% if user %}
                Welcome, {{ user }}! 
            {% else %}
                Welcome!
            {% endif %}
        </h2>
        {% if user %}
           <br> <h3 class="text-xl mt-2">Student ID is: {{ id }}.</h3>
        {% endif %}
        <br>
        <div class="flex justify-center gap-8 mt-4">
            <a href="{{url_for('view_courses')}}" class="text-white hover:text-black bg-black hover:bg-white 
            font-medium text-sm px-14 py-3 border-2 border-black shadow rounded transition duration-200">View Courses</a>
            <a href="{{url_for('registered_courses')}}" class="text-white hover:text-black bg-black hover:bg-white 
            font-medium text-sm px-14 py-3 border-2 border-black shadow rounded transition duration-200">Registered Courses</a>
            <a href="{{url_for('change_password')}}" class="text-white hover:text-black bg-black hover:bg-white 
            font-medium text-sm px-14 py-3 border-2 border-black shadow rounded transition duration-200">Change Password</a>
        </div>
        <div class="flex justify-center gap-8 mt-4">
            <img src="{{ url_for('static', filename='images/banner.png') }}" alt="banner">
        </div>    
    </main>
    </div>
{% endblock %}