<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}">
    <title>CMSC485 Online Course Registration New Account Registration</title>
</head>
<body>
    <nav><br>
        
        <a href="{{url_for('index')}}">Home</a>
        <br></nav>
    <aside></aside>
    <main>
    <h1>Create new Account</h1>
    <label>Already Registered?</label>
     <a href="{{url_for('login')}}">
     <button type ="button">Login</button><br><br>
     </a>

    <form method="POST" action=""> 
        {{ form.hidden_tag() }}
        {{ form.username }}<br><br>
        {{ form.password }}<br><br>
        {{ form.first_name }}<br><br>
        {{ form.last_name }}<br><br><br>
        {{ form.submit }}
    </form>

    {% if form.username.errors %}
        <ul>
        {% for error in form.username.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    

    </main>
</body>
</html>