{% extends "navbar_base.html" %}

{% block content %}
    <main class="ml-64 p-8" style="padding-left: 40px">
        <div>
            <h1 class="text-3xl md:text-3xl font-extrabold;" style=" font-weight: bold; font-size: x-large;">
                Registered Courses</h1>
                {% if not registered_classes %}
                    <p>You have not registered for any courses.</p>
                {% else %}
        </div><br>
        <table border="1">
            <tr>
                    
                <th scope="col" class="px-4 py-2 border border-gray-400">Course ID</th>
                <th scope="col" class="px-4 py-2 border border-gray-400">Course Number</th>
                <th scope="col" class="px-4 py-2 border border-gray-400">Class ID</th>
                <th scope="col" class="px-4 py-2 border border-gray-400">Credits</th>
                <th scope="col" class="px-4 py-2 border border-gray-400">Semester</th>
                <th></th>
            </tr>
            {% for class in registered_classes %}
            <tr>
                <td class="px-4 py-2 border border-gray-400">{{ class.course_id }}</td>
                <td class="px-4 py-2 border border-gray-400">{{ class.course_name }}</td>
                <td class="px-4 py-2 border border-gray-400">{{ class.class_id }}</td>
                <td class="px-4 py-2 border border-gray-400">{{ class.credits_awarded }}</td>
                <td class="px-4 py-2 border border-gray-400">{{ class.semester }}</td>
                <td>
                    <!--
                    <form action="{{ url_for('drop_course') }}" method="post">
                        <input type="hidden" name="class_id" value="{{ class.class_id }}">
                        <button type="submit"class="text-white hover:text-black bg-black hover:bg-white 
                        font-medium text-sm px-6 py-2 border-2 border-black shadow rounded transition duration-200">Drop Course</button>
                    </form>
                    -->
                    {% if class.get_semester_status() == Semester.UPCOMING %}
                        <form action="{{ url_for('drop_course') }}" method="post">
                            <input type="hidden" name="class_id" value="{{ class.class_id }}">
                            <button type="submit" class="text-white hover:text-black bg-black hover:bg-white 
                            font-medium text-sm px-6 py-2 border-2 border-black shadow rounded transition duration-200">
                                Drop Course
                            </button>
                        </form>
                    {% elif class.get_semester_status() == Semester.IN_SESSION %}
                        <form action="{{ url_for('drop_course') }}" method="post">
                            <input type="hidden" name="class_id" value="{{ class.class_id }}">
                            <button type="submit" class="text-white hover:text-black bg-black hover:bg-white 
                            font-medium text-sm px-6 py-2 border-2 border-black shadow rounded transition duration-200">
                                Withdraw from Course
                            </button>
                        </form>
                    {% else %}
                        <!-- Empty table cell -->
                        &nbsp;
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <br>
        <a href="{{ url_for('registration_log') }}">
            <button type="submit"class="text-white hover:text-black bg-black hover:bg-white 
            font-medium text-sm px-6 py-2 border-2 border-black shadow rounded transition duration-200">View Registration Logs</button>
        </a>

        <a href="{{ url_for('view_courses') }}">
            <button type="submit"class="text-white hover:text-black bg-black hover:bg-white 
            font-medium text-sm px-6 py-2 border-2 border-black shadow rounded transition duration-200">Back to Courses</button>
        </a>
    </main>
{% endblock %}