body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main";
}

nav {
    grid-area: navbar;
    background-color: lightblue;
    padding-left: 100px;
}

h1 {
    padding-top: 100px;
    color: rgb(29, 29, 32);
}

button{
    background-color: black;
    color:white;
    padding: 15px, 30px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}